.product__carousel--image {
    max-width: 100%;
    object-fit: cover;
    max-height: 500px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    display: none !important;
}

.button1 {
    padding: 5px 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: white;
}
